<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css'/>

    <script type="text/javascript" src='/libs/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/libs/polyfill.js'></script>


    <link rel='stylesheet' href='/libs/jsoneditor/jsoneditor.css'/>
    <script type="text/javascript" src='/libs/jsoneditor/jsoneditor.min.js'></script>


    <link rel='stylesheet' href='/libs/popup/popup.min.css'/>
    <script type="text/javascript" src='/libs/Utility.js'></script>
    <script type="text/javascript" src='/libs/popup/popup.js'></script>
    <script type="text/javascript" src='/javascripts/index.js'></script>

    <style>
        .jsonbody {
            display: block;
            width: 500px;
            height: 500px;
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>



<div class="container intro">
    abc

</div>

</body>
</html>
